.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.genre {
  width: 150px;
  margin: 2px;

  border: 1px solid black;
}

.poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: grey;
  width: 30vw;
  padding: 10px;
  border: 2px solid black;
  margin: 5px;
  color: white;
}

img {
  width: 28vw;
  border: 2px solid black;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
